# Modifed ERCF_FORM_TIP_STANDALONE from https://github.com/EtteGit/EnragedRabbitProject/blob/main/Klipper_Files/ercf_software.cfg
[gcode_macro _FORM_TIP_STANDALONE]
description: Generic tip forming macro
variable_total_unload_distance: 0
gcode:
    # variables

    {% set batvar = printer["gcode_macro _BATMMU_VAR"] %}
    {% set batsavedvar = printer.save_variables.variables %}

    {% set initial_retract = 5|int %}
    {% set cooling_tube_length = 16.5|int %}
    {% set cooling_tube_retraction = 25|int %} #Where the cooling tube starts! 
    {% set initial_cooling_speed = 10|int %}
    {% set final_cooling_speed = 50|int %}
    {% set cooling_moves = 5|int %}
    {% set use_skinnydip = 1|int %}
    {% set skinnydip_distance = 26|int %}
    {% set dip_insertion_speed = 33|int %}
    {% set dip_extraction_speed = 61|int %}
    {% set cooling_zone_pause = 0|int %}
    {% set unloading_speed_start = 60|int %}
    {% set unloading_speed = 20|int %}
    {% set ramming_volume = 15|int %}
    {% set unload_distance = 0|int %}
    {% set final_eject_speed = 40|int %}
    {% set ratio = (ramming_volume|float) /23.0 %}

    G91
    G92 E0
    SET_PRESSURE_ADVANCE ADVANCE=0
    {% set RATIO = (ramming_volume|float) /23.0 %}
    G1 E{0.5784 * ratio|float} F299 #7
    G1 E{0.5834 * ratio|float} F302 #3
    G1 E{0.5918 * ratio|float} F306 #6
    G1 E{0.6169 * ratio|float} F319 #6
    G1 E{0.3393 * ratio|float} F350 #0
    G1 E{0.3363 * ratio|float} F350 #0
    G1 E{0.7577 * ratio|float} F392 #6
    G1 E{0.8382 * ratio|float} F434 #3
    G1 E{0.7776 * ratio|float} F469 #9
    G1 E{0.1293 * ratio|float} F469 #9
    G1 E{0.9673 * ratio|float} F501 #2
    G1 E{1.0176 * ratio|float} F527 #2
    G1 E{0.5956 * ratio|float} F544 #6
    G1 E{0.4555 * ratio|float} F544 #6
    G1 E{1.0662 * ratio|float} F552 #4
    # Retraction
    {% set total_retraction_distance = cooling_tube_retraction|float + cooling_tube_length|float / 2 - batvar.anti_ooze %}
    SET_GCODE_VARIABLE MACRO=_FORM_TIP_STANDALONE VARIABLE=total_unload_distance VALUE={total_retraction_distance}
    M118 Unload Tip {total_retraction_distance}
    #G1 E-{initial_retract} F{1.0 * unloading_speed_start|float * 60}
    G1 E-{0.7 * total_retraction_distance} F{1.0 * unloading_speed|float * 60}
    G1 E-{0.2 * total_retraction_distance} F{0.5 * unloading_speed|float * 60}
    G1 E-{0.1 * total_retraction_distance} F{0.3 * unloading_speed|float * 60}
    # Generate Cooling Moves
    {% set SPEED_INC = (final_cooling_speed|float - initial_cooling_speed|float) / (2 * cooling_moves|float - 1) %}
    {% for move in range(cooling_moves|int) %}
        G1 E{cooling_tube_length} F{(initial_cooling_speed|float + SPEED_INC*move*2) * 60}
        G1 E-{cooling_tube_length} F{(initial_cooling_speed|float + SPEED_INC*(move*2+1)) * 60}
    {% endfor %}
    # Generate a skinnydip move
    {% if use_skinnydip|int == 1 %}
        M118 Skinny Dip {skinnydip_distance}
        G1 E{skinnydip_distance} F{dip_insertion_speed|float * 60}
        G1 E-{skinnydip_distance} F{dip_extraction_speed|float * 60}
        G4 P{cooling_zone_pause}
    {% endif %}
    # Final eject
    #G92 E0
    #G1 E-{unload_distance} F{final_eject_speed*60}
    #G92 E0